<div class="header-container">
    <div class="hamburger" id="hamburger-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1><a href="home.html" class="logo-link">CASAC</a></h1>
    <nav class="header-nav">
        <ul>
            <li><a href="shop.html">Tienda</a></li>
            <li><a href="cart.html">Carrito</a></li>
            <li><a href="sign-in.html">Iniciar sesión</a></li>

        </ul>
    </nav>
    <nav class="mobile-menu" id="mobile-menu">
        <ul>
            <li><a href="shop.html">Tienda</a></li>
            <li><a href="cart.html">Carrito</a></li>
            <li><a href="sign-in.html">Iniciar sesión</a></li>
        </ul>
    </nav>
</div>
