<div class="user-order-card">
  <div class="u-order-header">
    <div class="u-info">
      <span>PEDIDO #CAS-2290</span>
      <strong>24 Feb, 2026</strong>
    </div>
    <div class="u-status-badge shipping">En camino</div>
  </div>
  <div class="u-order-body">
    <div class="u-items-preview">
      <img src="../../../img/tornillo.png" alt="Producto">
      <div class="u-item-text">
        <p>Tornillería Pro + 2 artículos más</p>
        <span class="u-total">Total: 34,20€</span>
      </div>
    </div>
  </div>
</div>