<div class="product-card">
    <div class="img-box">
        <img src="../../../img/tornillo.png" alt="Tornillo">
    </div>

    <div class="info">
        <h1>Tornillos</h1>
        <p class="subtitle">Tornillo Philips</p>

        <div class="buy-row">
            <div class="pack">Caja 100 uds. - 0,00€</div>

            <div class="qty">
                <button type="button" class="qty-btn">-</button>
                <span class="qty-num">1</span>
                <button type="button" class="qty-btn">+</button>
            </div>
        </div>

        <button class="add-btn" type="button" onclick="window.location.href='cart.html'">
            Agregar al carrito
        </button>
    </div>
</div>

