<article class="shop-card admin-card">
    <div class="shop-card-img">
        <img src="{{img}}" alt="Producto Admin" class="prod-img">
    </div>
    <div class="shop-card-info">
        <p class="shop-desc">{{name}}</p>
        <div class="admin-actions-row">
            <span class="shop-price">{{price}}€</span>
            <div class="admin-icons">
                <button class="action-box edit" title="Editar Producto" onclick="window.location.href='admin-product.html?id={{id}}'">✎</button>
                <button class="action-box hide" title="Ocultar de la tienda">👁</button>
                <button class="action-box delete" title="Eliminar definitivamente">🗑</button>
            </div>
        </div>
    </div>
</article>