<app-header />
<main class="main-content profile-layout">
    <div class="profile-container-xl">
        <aside class="profile-sidebar">
            <nav class="profile-nav">
                <a routerLink="/profile/info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    Informacion Personal
                </a>
                <a routerLink="/profile/security" routerLinkActive="active">Seguridad</a>
                <a routerLink="/profile/orders" routerLinkActive="active">Mis Pedidos</a>
                <a routerLink="/profile/addresses" routerLinkActive="active">Direcciones</a>
            </nav>
        </aside>

        <section class="profile-main-content">
            <router-outlet />
        </section>
    </div>
</main>
<app-footer />
