<app-header />
<main class="main-content shop-layout">
    <div class="shop-container-xl">
        <div class="shop-search-bar">
            <input id="shop-search-input" type="text" placeholder="Buscar productos..." />
            <button id="shop-search-btn">BUSCAR</button>
        </div>

        <div class="products-grid-4" id="shop-grid">
            @for (product of products$ | async; track product.id) {
                <app-product-card [product]="product" />
            }
        </div>
    </div>
</main>
<app-footer />
