<app-header />
@if (product$ | async; as p) {
    <main class="main-content product-center-layout" id="product-container">
        <div class="product-card">
            <div class="img-box">
                <img [src]="(product$ | async)?.img" alt="Tornillo" />
            </div>

            <div class="info">
                <h1>{{ p.name }}</h1>
                <p class="subtitle">{{ p.description }}</p>

                <div class="buy-row">
                    <div class="pack">{{ p.price | formatCurrency }}</div>

                    <div class="qty">
                        <button type="button" class="qty-btn" (click)="decreaseQuantity()">
                            -
                        </button>
                        <span class="qty-num" id="product-qty-num">{{ quantity() }}</span>
                        <button type="button" class="qty-btn" (click)="increaseQuantity()">
                            +
                        </button>
                    </div>
                </div>

                <button (click)="addItem(p.id)" class="add-btn" type="button" id="add-to-cart-btn">
                    Agregar al carrito
                </button>
            </div>
        </div>
    </main>
}
<app-footer />
