<app-header />
<main class="main-content product-center-layout" id="product-container">
    <div class="product-card">
        <div class="img-box">
            <img [src]="(product$ | async)?.img" alt="Tornillo" />
        </div>

        <div class="info">
            <h1>{{ (product$ | async)?.name }}</h1>
            <p class="subtitle">{{ (product$ | async)?.description }}</p>

            <div class="buy-row">
                <div class="pack">{{ (product$ | async)?.price ?? 0 | formatCurrency }}</div>

                <div class="qty">
                    <button type="button" class="qty-btn" data-qty-action="decrease">-</button>
                    <span class="qty-num" id="product-qty-num">1</span>
                    <button type="button" class="qty-btn" data-qty-action="increase">+</button>
                </div>
            </div>

            <button class="add-btn" type="button" id="add-to-cart-btn">Agregar al carrito</button>
        </div>
    </div>
</main>
<app-footer />
