<app-header/>

<main class="main-content">
    <div class="search-row">
        <input id="home-search-input" type="text" placeholder="Buscar en la ferretería...">
        <button id="home-search-btn">BUSCAR</button>
    </div>

    <div class="top-section">
        <aside class="sidebar" id="categories-box">
            <a href="shop.html">Jardinería</a>
            <a href="shop.html">Carpintería</a>
            <a href="shop.html">Fontanería</a>
            <a href="shop.html">Albañilería</a>
            <a href="shop.html">Electricidad</a>
            <a href="shop.html">Tornillería</a>
            <a href="shop.html">Cerrajería</a>
        </aside>
        <div class="hero">
            <img src="imgHome.jpg" alt="Ferretería CASAC">
        </div>
    </div>

    <h2 class="section-title">Productos más destacados</h2>

    <div class="cards-grid" id="grid-productos">
    </div>
</main>

<app-footer/>
